<div class="card border shadow">
  <div class="card-header border-1">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="mb-0">Custo por Área</h2>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <!-- Projects table -->
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
      <tr>
        <th scope="col">Área</th>
        <th scope="col">Custo</th>
        <th scope="col">Prod.</th>
        <th scope="col">Retorno.</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
         VÁLVULA
        </td>
        <td>
         R$ 21843,00
        </td>
        <td>
          15835 KG
        </td>
        <td>
          R$ 5800,00
        </td>

      </tr>

      </tbody>
    </table>
  </div>
</div>
