<div class="card border shadow">
  <div class="card-header border-1">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="mb-0">Custo por Área</h2>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <!-- Projects table -->
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
      <tr>
        <th scope="col">Área</th>
        <th scope="col">Custo</th>
        <th scope="col">Produção(Kg)</th>
        <th scope="col">Retorno(R$).</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let area of areas">
        <td>
         {{ area?.name }}
        </td>
        <td>
         {{ area?.custo?.valor | currency:'BRL':true:'1.2-2' }}
        </td>
        <td>
          {{ area?.producao?.quantidade | currency:'BRL':true:'1.2-2'   }}
        </td>
        <td>
          {{ area?.producao?.valor | currency:'BRL':true:'1.2-2'  }}
        </td>

      </tr>

      </tbody>
    </table>
  </div>
</div>
