<div class="card  border">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
        <h2 class="mb-0">Custos Mensais</h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="barChartType">
    </canvas>
  </div>
</div>
