
<div class="header bg-gradient-green pb-8 pt-5">
    <div class="container-fluid">
    </div>
</div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-1">
            <div class="row align-items-center">
                <div class="col-7 text-left">
                    <h3 class="mb-0">Consumos de Produtos</h3>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-sm btn-primary" (click)="open(addConsumoProduto)">Adicionar</a>
                </div>
            </div>
            
          </div>

          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Produto</th>
                  <th scope="col">Quantidade</th>
                  <th scope="col">Preço</th>
                  <th scope="col">Área Produtiva</th>
                  <th scope="col">Safra</th>
                  <th scope="col">Colaborador</th>
                  <th scope="col">Data</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let consumo of consumos">
                    <td>
                      <span>{{ consumo.product_name }}</span>
                      <small class="inline-block">{{ consumo.product_category_name }}</small>
                    </td>
                    <td>
                      {{ consumo.quantity }}
                    </td>
                    <td>
                      {{ consumo.total | currency: 'BRL':true }}
                    </td>
                    <td>
                      {{ consumo.productive_area_name }}
                    </td>
                    <td>
                      {{ consumo.safra_name }}
                    </td>
                    <td>
                      {{ consumo.employee_name }}
                    </td>
                
                    <td>
                      {{ consumo.consumption_at | date: 'dd/MM/yyyy' }}
                    </td>

                 
                  
                    <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" >Editar</a>
                          <a class="dropdown-item" >Deletar</a>
                        </div>
                      </div>
                    </td>
                   
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <div class="row align-items-center">
                  <div class="col-7 text-left">
                      <h3 class="mb-0 text-white">Consumos de Atividades</h3>
                  </div>
                  <div class="col-4 text-right">
                      <a class="btn btn-sm btn-primary" (click)="open(addConsumoAtividades)">Adicionar</a>
                  </div>
              </div>
              
            </div>
  
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Atividade</th>
                    <th scope="col">Área</th>
                    <th scope="col">Unidade</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Colaborador</th>
                    <th scope="col">Data</th>
                    <!-- <th></th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let taskDone of tasksDone">
                      <td>
                        {{ taskDone.task_name }}
                      </td>
                      <td>
                        {{ taskDone.productive_area_name }}
                      </td>
                      <td>
                       
                      </td>
                      <td>
                        {{ taskDone.quantity }} x <small>{{ taskDone.price  | currency: 'BRL':true }}</small>
                      </td>
                      <td>
                        {{ (taskDone.price *  taskDone.quantity) | currency: 'BRL':true }}
                      </td>
                      <td>
                        {{ taskDone.employee_name }}
                    </td>
                    <td>
                      {{ taskDone.done_at | date: 'dd/MM/yyyy' }}
                  </td>
                     
                      <!-- <td class="text-right">
                        <div ngbDropdown placement="bottom-right">
                          <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" >Editar</a>
                            <a class="dropdown-item" >Deletar</a>
                          </div>
                        </div>
                      </td> -->
                     
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    
    <!-- MODAIS-->
    <ng-template #addConsumoProduto let-modal>

        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Consumo de Produto</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addConsumoProdutoForm">

            <div class="form-group">
              <label for="input-safra" class="form-control-label">Safras(*)</label>
              <select formControlName="safra_id" id="input-safra" class="form-control">
                <option  *ngFor="let safra of safras" [value]="safra?.id">{{ safra?.name }}</option>
              </select>
              <div *ngIf="submittedConsumoProduto && !successConsumoProduto && c.safra_id.errors" >
                <small class="invalid-feedback" style="display: inline;">A safra é obrigatória.</small>
              </div>
            </div>


            <div class="form-group">
              <label  for="input-area" class="form-control-label">Área Produtiva(*)</label>
              <select formControlName="productive_area_id"  id="input-area" class="form-control">
                <option *ngFor="let area of areas" [value]="area?.id">{{ area?.name }}</option> 
              </select>

              <div *ngIf="submittedConsumoProduto && !successConsumoProduto && c.productive_area_id.errors" >
                <small class="invalid-feedback" style="display: inline;">A área é obrigatório.</small>
              </div>

            </div>

            <div class="form-group">
              <label for="input-produto" class="form-control-label">Produtos(*)</label>
              <select formControlName="product_id" id="input-produto" class="form-control">
                <option *ngFor="let produto of produtos" [value]="produto?.id">{{ produto?.name }}</option> 
              </select>

              <div *ngIf="submittedConsumoProduto && !successConsumoProduto && c.product_id.errors" >
                <small class="invalid-feedback" style="display: inline;">O Produto é Obrigatório.</small>
              </div>

            </div>

            <div class="form-group">
              <label for="input-data-consumo" class="form-control-label">Quantidade:</label>
              <input formControlName="quantity" id="input-data-consumo" class="form-control" type="number">
              <div *ngIf="submittedConsumoProduto && !successConsumoProduto && c.quantity.errors" >
                <small class="invalid-feedback" style="display: inline;">A Quantidade é Obrigatória.</small>
              </div>
            </div>


            <div class="form-group">
              <label for="input-colaborador" class="form-control-label">Colaborador(*)</label>
              <select formControlName="employee_id" id="input-colaborador" class="form-control">
               
                <option *ngFor="let funcionario of funcionarios" [value]="funcionario?.id" >{{ funcionario?.name }}</option> 
              </select>

              <div *ngIf="submittedConsumoProduto && !successConsumoProduto && c.employee_id.errors" >
                <small class="invalid-feedback" style="display: inline;">O funcionário é obrigatório.</small>
              </div>

            </div>

            <div class="form-group">
                <label for="input-data-consumo" class="form-control-label">Data de Consumo:</label>
                <input formControlName="consumption_at" id="input-data-consumo" class="form-control" type="date">
                <div *ngIf="submittedConsumoProduto && !successConsumoProduto && c.consumption_at.errors" >
                  <small class="invalid-feedback" style="display: inline;">A data de consumo é obrigatória.</small>
                </div>
            </div>

            
            <div class="form-group">
              <label for="input-address" class="form-control-label">Observação:</label>
              <textarea  formControlName="observation"class="form-control" rows="2"> </textarea>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="create()">Criar</button>
        </div>
    </ng-template>

    <ng-template #addConsumoAtividades let-modal>

        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Consumo de Atividades</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>

            <div class="form-group">
              <label for="input-safra" class="form-control-label">Safra(*)</label>
              <select id="input-safra" class="form-control">
                <option>01-2022</option> 
                <option>02-2022</option> 
              </select>
            </div>

            <div class="form-group">
              <label for="input-produto" class="form-control-label">Atividade(*)</label>
              <select id="input-produto" class="form-control">
                <option>Raleio</option> 
                <option>Salário</option> 
              </select>
            </div>


            <div class="form-group">
              <label for="input-area" class="form-control-label">Área Produtiva(*)</label>
              <select id="input-area" class="form-control">
                <option>A1</option> 
                <option>A2</option> 
              </select>
            </div>

            <div class="form-group">
              <label for="input-colaborador" class="form-control-label">Unidade(*)</label>
              <select id="input-colaborador" class="form-control">
                <option>Geral</option> 
                <option>Linha</option> 
                <option>Válvula</option> 
              </select>
            </div>

            <div class="form-group">
              <label for="input-quantidade" class="form-control-label">Quantidade:</label>
              <input id="input-quantidade" class="form-control" type="number">
            </div>

           
            <div class="form-group">
              <label for="input-colaborador" class="form-control-label">Colaborador(*)</label>
              <select id="input-colaborador" class="form-control">
                <option>Jeyziel Gama</option> 
                <option>Tales Seabra</option> 
              </select>
            </div>

            <div class="form-group">
              <label for="input-preco" class="form-control-label">Preço(*):</label>
              <input id="input-preco" class="form-control" type="text">
            </div>

            <div class="form-group">
                <label for="input-data-consumo" class="form-control-label">Data da Atividade:</label>
                <input id="input-data-consumo" class="form-control" type="date">
            </div>

            
            <div class="form-group">
              <label for="input-address" class="form-control-label">Observação:</label>
              <textarea class="form-control" rows="2"> </textarea>
            </div>


          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark">Criar</button>
        </div>
    </ng-template>


</div>
