.modal-header{
    border-bottom: 1px solid #dee2e6 !important ;
}

.card{
    max-height: 80vh;
    border: 1px solid #d7d7d7 !important;
}

.table-responsive{
    max-height: 100vh;
    min-height: 50vh;
}