
<div class="header bg-gradient-green pb-8 pt-5">
    <div class="container-fluid">
    </div>
</div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col-7 text-left">
                    <h3 class="mb-0">LISTA DE PRODUTOS</h3>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-sm btn-primary" (click)="open(addProdutos)" >Adicionar</a>
                    <a class="btn btn-sm btn-primary" [routerLink]="['/produtos/categorias']" >Categorias</a>
                </div>



            </div>

          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Função</th>
                  <th scope="col">Qtd. Estoque</th>
                  <th>Prod. Alternativos</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products">
                    <td>
                      {{ product?.name }} ({{ product?.unit_name }})
                    </td>
                    <td>
                       {{ product?.category_name }}
                    </td>
                    <td>
                      {{ product?.function }}
                    </td>
                    <td>
                      {{ product?.quantidade_estoque }}
                    </td>
                    <td>
                      {{ product?.alternative_products }}
                    </td>

                    <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" (click)="onEditProdutos(product); open(editProdutos);"  >Editar</a>
                          <a class="dropdown-item" (click)="delete(product?.id)" >Deletar</a>
                        </div>
                      </div>
                    </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- MODAIS-->
      <ng-template #addProdutos let-modal>

        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Cadastrar Produtos</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addProdutosForm">


            <div class="form-group">
                <label for="input-name" class="form-control-label">Nome(*)</label>
                <input
                  formControlName="name"
                  id="input-name"
                  class="form-control"
                  type="text"
                  [ngClass]="{ 'is-invalid': submittedAdd && addForm.name.errors }"
                >
                <div *ngIf="submittedAdd && addForm.name.errors" class="invalid-feedback">
                  <div>O Nome é obrigatório</div>
                </div>

            </div>

            <div class="form-group">
                <label for="input-unidade" class="form-control-label">Unidade(*)</label>
                <select formControlName="product_unit_id" id="input-unidade" class="form-control">
                  <option  *ngFor="let unit of units" [value]="unit.id">{{ unit.name }}</option>

                </select>
              </div>

            <div class="form-group">
              <label for="input-categorias" class="form-control-label">Categorias(*)</label>
              <select formControlName="product_category_id" id="input-categorias" class="form-control">
                <option *ngFor="let category of categories" [value]="category.id" >{{ category.name }}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="input-funcao" class="form-control-label">Função</label>
              <input formControlName="function" id="input-funcao" class="form-control" type="text">
            </div>

            <div class="form-group">
                <label for="input-alternativos" class="form-control-label">Prod. Alternativos</label>
                <input formControlName="alternative_products" id="input-alternativos" class="form-control" type="text">
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="create()">Criar</button>
        </div>
      </ng-template>

      <ng-template #editProdutos let-modal>

        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Editar Produto</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editProdutosForm">


            <div class="form-group">
                <label for="input-name" class="form-control-label">Nome(*)</label>
                <input
                  formControlName="name"
                  id="input-name"
                  class="form-control"
                  type="text"
                  [ngClass]="{ 'is-invalid': submittedAdd && addForm.name.errors }"
                >
                <div *ngIf="submittedAdd && addForm.name.errors" class="invalid-feedback">
                  <div>O Nome é obrigatório</div>
                </div>

            </div>

            <div class="form-group">
                <label for="input-unidade" class="form-control-label">Unidade(*)</label>
                <select formControlName="product_unit_id" id="input-unidade" class="form-control">
                  <option  *ngFor="let unit of units" [value]="unit.id">{{ unit.name }}</option>

                </select>
              </div>

            <div class="form-group">
              <label for="input-categorias" class="form-control-label">Categorias(*)</label>
              <select formControlName="product_category_id" id="input-categorias" class="form-control">
                <option *ngFor="let category of categories" [value]="category.id" >{{ category.name }}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="input-funcao" class="form-control-label">Função</label>
              <input formControlName="function" id="input-funcao" class="form-control" type="text">
            </div>

            <div class="form-group">
                <label for="input-alternativos" class="form-control-label">Prod. Alternativos</label>
                <input formControlName="alternative_products" id="input-alternativos" class="form-control" type="text">
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="update()">EDITAR</button>
        </div>
      </ng-template>


    </div>
</div>
