<div class="header bg-gradient-green pb-8 pt-5">
    <div class="container-fluid">
      <!-- <div class="header-body">
       
        <div class="row">
          <div class="col-12">
            <h1 class="display-4">Áreas Produtivas</h1>
          </div> 
         
        </div>
      </div> -->
          
     <!-- Button trigger modal -->

    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col-7 text-left">
                    <h3 class="mb-0">Áreas Produtivas</h3>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-sm btn-primary" (click)="open(addAreaProdutiva)">Adicionar</a>
                </div>
            </div>
            
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Variedade</th>
                  <th scope="col">Tamanho(h)</th>
                  <th scope="col">Qtd. Plantas</th>
                  <th scope="col">Porta Enxerto</th>
                  <th scope="col">Data de Plantio</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let area of areas" >
                    <td>
                      {{ area?.name }}
                    </td>
                    <td>
                      {{ area?.variety_name }}
                    </td>
                    <td>
                      {{ area?.size }}
                    </td>
                    <td>
                      {{ area?.quantity_plants }}
                    </td>
                    <td>
                      {{ area?.porta_enxerto }}
                    </td>
                    <td>
                      {{ area?.planting_at }}
                    </td>
                   
                    <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" (click)="setArea(area); getInfoArea(area?.id);  open(addMetaCusto, 'CUSTO')" >Meta de Custo</a>
                          <a class="dropdown-item"  (click)="setArea(area); getInfoArea(area?.id);open(addMetaProdutividade, 'PRODUTIVIDADE')">Meta de Produtividade</a>
                          <a class="dropdown-item" (click)="setArea(area); getInfoArea(area?.id); open(addPoda)" >Podas</a>
                          <a class="dropdown-item" (click)="onEditAreasProdutivas(area); open(editAreaProdutiva);"  >Editar</a>
                          <a class="dropdown-item"  (click)="open(modalConfirmation, removerAreaProdutiva, area?.id)" >Deletar</a>
                        </div>
                      </div>
                    </td>
                   
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- MODAIS-->

    <ng-template #addAreaProdutiva let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Criar Áreas Produtivas</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addAreasProdutivasForm">

          <div class="form-group">
         
            <label for="example-text-input" class="form-control-label">Nome(*)</label>
            <input  formControlName="name" class="form-control" type="text">
         
            <div *ngIf="submittedArea && !successArea && addForm.name.errors" >
              <small class="invalid-feedback" style="display: inline;">O nome é obrigatório.</small>
            </div>
         
          </div>

          <div class="form-group">
            <label for="input-variedade" class="form-control-label">Variedade(*)</label>
            <select formControlName="variety_id" class="form-control" id="input-variedade">
              <option></option>
              <option *ngFor="let variedade of variedades" [value]="variedade?.id">{{ variedade?.name }}</option>
         
            </select>

            <div *ngIf="submittedArea && !successArea && addForm.variety_id.errors" >
              <small class="invalid-feedback" style="display: inline;">A variedade é obrigatória!.</small>
            </div>

          </div>

          <div class="form-group">
            <label for="example-text-input" class="form-control-label">Tamanho:</label>
            <input formControlName="size" class="form-control" type="text">
          </div>

          <div class="form-group">
            <label for="example-text-input" class="form-control-label">Qtd. Plantas:</label>
            <input formControlName="quantity_plants" class="form-control" type="number">
          </div>

          <div class="form-group">
            <label for="example-text-input" class="form-control-label">Qtd. Linhas:</label>
            <input formControlName="quantity_lines" class="form-control" type="number" >
          </div>

          <div class="form-group">
            <label for="example-text-input" class="form-control-label">Qtd. Porta Enxerto:</label>
            <input formControlName="porta_enxerto" class="form-control" type="number" >
          </div>

          <div class="form-group">
            <label for="example-text-input" class="form-control-label">Espaçamento:</label>
            <input formControlName="spacing" class="form-control" type="text" >
          </div>

          <div class="form-group">
            <label for="example-text-input" class="form-control-label">Data de Plantio:</label>
            <input formControlName="planting_at" class="form-control" type="date" >
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="create()">Criar</button>
      </div>
    </ng-template>

    <ng-template #editAreaProdutiva let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Criar Áreas Produtivas</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editAreasProdutivasForm">

          <div class="form-group">
         
            <label for="example-text-input" class="form-control-label">Nome(*)</label>
            <input  formControlName="name" class="form-control" type="text">
         
            <div *ngIf="submittedArea && !successArea && editForm.name.errors" >
              <small class="invalid-feedback" style="display: inline;">O nome é obrigatório.</small>
            </div>
         
          </div>

          <div class="form-group">
            <label for="input-variedade" class="form-control-label">Variedade(*)</label>
            <select formControlName="variety_id" class="form-control" id="input-variedade">
              <option></option>
              <option *ngFor="let variedade of variedades" [value]="variedade?.id">{{ variedade?.name }}</option>
         
            </select>

            <div *ngIf="submittedArea && !successArea && editForm.variety_id.errors" >
              <small class="invalid-feedback" style="display: inline;">A variedade é obrigatória!.</small>
            </div>

          </div>

          <div class="form-group">
            <label for="example-text-input" class="form-control-label">Tamanho:</label>
            <input formControlName="size" class="form-control" type="text">
          </div>

          <div class="form-group">
            <label for="example-text-input" class="form-control-label">Qtd. Plantas:</label>
            <input formControlName="quantity_plants" class="form-control" type="number">
          </div>

          <div class="form-group">
            <label for="example-text-input" class="form-control-label">Qtd. Linhas:</label>
            <input formControlName="quantity_lines" class="form-control" type="number" >
          </div>

          <div class="form-group">
            <label for="example-text-input" class="form-control-label">Qtd. Porta Enxerto:</label>
            <input formControlName="porta_enxerto" class="form-control" type="number" >
          </div>

          <div class="form-group">
            <label for="example-text-input" class="form-control-label">Espaçamento:</label>
            <input formControlName="spacing" class="form-control" type="text" >
          </div>

          <div class="form-group">
            <label for="example-text-input" class="form-control-label">Data de Plantio:</label>
            <input formControlName="planting_at" class="form-control" type="date" >
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="update()">Salvar</button>
      </div>
    </ng-template>

    <ng-template #addPoda let-modal>

      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Definir Poda - {{ areaSelected?.name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="prunningForm">

          <div class="form-group">
            <label for="input-variedade" class="form-control-label">Safras(*)</label>
            <select formControlName="safra_id"  (change)="changePrunning($event.target.value)" class="form-control" id="input-variedade">
              <option *ngFor="let safra of safras" [value]="safra?.id">{{ safra?.name }}</option> 
            </select>
          </div>

          <div class="form-group">
            <label for="input-poda" class="form-control-label">Data da Poda(*)</label>
            <input formControlName="prunning_at" class="form-control" type="date" placeholder="dd/mm/aaaa">
          
            <div *ngIf="submittedPrunning && !successPrunning && pf.prunning_at.errors" >
              <small class="invalid-feedback" style="display: inline;">O campo é obrigatório.</small>
            </div> 
          
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="createPrunning()">Salvar</button>
      </div>
    </ng-template>


    <ng-template #addMetaCusto let-modal>

      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Definir Meta - Custo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="metaForm">

          <div class="form-group">
            <label for="input-variedade" class="form-control-label">Safras(*)</label>
            <select formControlName="safra_id" (change)="changeMetaCusto($event.target.value)" class="form-control" id="input-safra" >
              <option *ngFor="let safra of safras;" [value]="safra?.id">{{ safra?.name }}-{{ i }}</option> 
            </select>
          </div>

          <div class="form-group">
            <label for="input-variedade" class="form-control-label">Meta de Custo(*)</label>
            <input formControlName="value" class="form-control" type="text" placeholder="R$">

            <div *ngIf="submittedMeta && !successMeta && meta.value.errors" >
              <small class="invalid-feedback" style="display: inline;">O campo é obrigatório.</small>
            </div> 

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="createMeta('CUSTO')">Salvar</button>
      </div>
    </ng-template>

    <ng-template #addMetaProdutividade let-modal>

      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Definir Meta - Produtividade</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="metaForm">

          <div class="form-group">
            <label for="input-variedade" class="form-control-label">Safras(*)</label>
            <select formControlName="safra_id" (change)="changeMetaProdutividade($event.target.value)" class="form-control" id="input-variedade">
              <option *ngFor="let safra of safras" [value]="safra?.id"  [selected]="i == 1">{{ safra?.name }}</option> 
            </select>
          </div>

          <div class="form-group">
            <label for="input-variedade" class="form-control-label">Meta de Produtividade(*)</label>
            <input  formControlName="value" class="form-control" type="text" placeholder="R$">

            <div *ngIf="submittedMeta && !successMeta && meta.value.errors" >
              <small class="invalid-feedback" style="display: inline;">O campo é obrigatório.</small>
            </div> 

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="createMeta('PRODUTIVIDADE')">Save</button>
      </div>
    </ng-template>

    <ng-template #modalConfirmation let-modal>
      <div class="modal-header">
        <h3 class="modal-title" id="modal-basic-title">Confirmação de Ação</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        
          Deseja Remover Essa Área Produtiva?
        
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modal.dismiss('Cross click')" class="btn bg-gradient-secondary mr-3 mr-auto text-left">
          Cancelar
        </button>
        <button (click)="confirmationDelete(); modal.dismiss('Cross click')" type="button" class="btn bg-gradient-danger float-right">
          Confimar
        </button>
      </div>
    </ng-template>

    

  </div>

 
  