<div class="header bg-gradient-green pb-8 pt-5">
    <div class="container-fluid">
      <!-- <div class="header-body">
       
        <div class="row">
          <div class="col-12">
            <h1 class="display-4">Áreas Produtivas</h1>
          </div> 
         
        </div>
      </div> -->
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col-7 text-left">
                    <h3 class="mb-0">Áreas Produtivas</h3>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-sm btn-primary" href="#!">Adicionar</a>
                </div>
            </div>
            
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Variedade</th>
                  <th scope="col">Tamanho(h)</th>
                  <th scope="col">Data de Plantio</th>
                  <th scope="col">Data da Poda</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>
                      Válvula 1
                    </td>
                    <td>
                      Thompson
                    </td>
                    <td>
                        0.5
                    </td>
                    <td>
                      15/08/2022
                    </td>
                    <td>
                        15/08/2022
                    </td>
                    <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" >Meta de Custo</a>
                          <a class="dropdown-item" >Meta de Produtividade</a>
                          <a class="dropdown-item" >Editar</a>
                          <a class="dropdown-item" >Deletar</a>
                        </div>
                      </div>
                    </td>
                   
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  