<div class="header bg-gradient-green pb-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
  
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Custo Total</h5>
                    <span class="h4 font-weight-bold mb-0">{{ ( indicativos?.custo?.valor || 0) | currency:'BRL':true:'1.2-2' }}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                   <span class="text-success mr-2"></span>
                  <span class="text-nowrap"></span>
                </p>
              </div>
            </div>
          </div>
  
  
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Data da Poda</h5>
                    <span class="h4 font-weight-bold mb-0">{{ indicativos?.data_poda | date: 'dd/MM/YYYY' }}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                   <span class="text-success mr-2"></span>
                  <span class="text-nowrap"></span>
                </p>
              </div>
            </div>
          </div>
  
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Custo/Meta</h5>
                    <span class="h4 font-weight-bold mb-0">{{  ((indicativos?.custo?.valor / indicativos?.custo?.objetivo) * 100) || 0  }}%</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-percent"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <!-- <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> Meta</span> -->
                  <span class="text-nowrap"> Meta(  {{  ( indicativos?.custo?.objetivo || 0) | currency:'BRL':true:'1.2-2'  }} )</span>
                </p>
  
              </div>
            </div>
          </div>
  
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Produção</h5>
                    <span class="h2 font-weight-bold mb-0">{{ indicativos?.producao?.quantidade }} Kg</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                      <i class="fas fa-percent"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <!-- <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> R$</span> -->
                  <span class=" mr-2 text-nowrap">{{ (indicativos?.producao?.valor || 0) |  currency:'BRL':true:'1.2-2' }} </span>
                </p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid mt--7">
  
    <div class="row mt-3">
      <div class="col-12">
        <app-informacoes-gerais [informacoes]="informacoes_gerais" ></app-informacoes-gerais>
  
      </div>
    </div>
  
    <div class="row mt-2">
      <div class="col-xl-6 mb-5 mb-xl-0">
        <app-custo-categorias [custoCategorias]="custo_categorias" ></app-custo-categorias>
      </div>
      <div class="col-xl-6">
        <app-pie *ngIf="custo_categorias"
          [labels]="getLabelsCustoCategoria()"
          [data]="getDataCustoCategoria()" 
          >
        </app-pie>
      </div>
    </div>
  
    <div class="row mt-2">
      <div class="col-12">
          <app-barcode *ngIf="custo_mensal" 
            [labels]="getLabelsCustoMensal()" 
            [data]="getDataCustoMensal()">
          </app-barcode>
      </div>
    </div>
  
    <!-- <div class="row mt-2">
      <div class="col-xl-5 mb-5 mb-xl-0">
          <app-itens-impacto [itens]="itensCustos"></app-itens-impacto>
      </div>
  
      <div class="col-xl-7 mb-5 mb-xl-0">
          <app-custo-area></app-custo-area>
      </div>
    </div> -->
  
    <div class="row mt-2">

      <h4>Consumo de Produtos</h4>

      <div class="col-12">
        <app-consumo-categoria 
          *ngFor="let consumo of consumo_produtos"  
          [category]="consumo" 
        >
        </app-consumo-categoria>
      </div>
    </div>

    <!-- <div class="row mt-2">

      <h4>Consumo de Atividades</h4>

      <div class="col-12">
        <app-consumo-categoria  [consumos]="consumo_produto" ></app-consumo-categoria>
      </div>
    </div> -->
  
   
  </div>