
<div class="header bg-gradient-green pb-8 pt-5">
    <div class="container-fluid">
    </div>
</div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col-7 text-left">
                    <h3 class="mb-0">VENDAS DE FRUTAS</h3>
                </div>
                <div class="col-4 text-right">
                    <!-- <a class="btn btn-sm btn-primary" (click)="open(addProdutos)" >Lançar Venda</a> -->
                </div>



            </div>

          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Área Produtiva</th>
                  <th scope="col">Safra</th>
                  <th scope="col">Qtd.</th>
                  <th scope="col">Preço</th>
                  <th>Total</th>
                  <th>Vendedor</th>
                  <th>Data de Venda</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sale of sales">
                    <td>
                      {{ sale?.productive_area_name }} )
                    </td>
                    <td>
                        {{ sale?.safra_name }} 
                    </td>
                    <td>
                        {{ sale?.quantity }}
                    </td>
                    <td>
                      {{ sale?.price | currency:'BRL':true }}
                    </td>
                    <td>
                       {{ sale?.total  | currency:'BRL':true }}
                    </td>
                    <td>
                        {{ sale?.user_name }}
                    </td>

                    <td>
                        {{ sale?.seller_at }}
                    </td>

                    <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">

                        </div>
                      </div>
                    </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <ng-template #addVendas let-modal>

        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Lançar Vendas</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addSalesForm">


            <div class="form-group">
              <label for="input-safra" class="form-control-label">Safra(*)</label>
              <select formControlName="safra_id" id="input-safra" class="form-control">
                <option  *ngFor="let safra of safras" [value]="unit.id">{{ safra?.name }}</option>
              </select>

              <div *ngIf="submittedProduto && !successProduto && addForm.product_unit_id.errors">
                <small  class="invalid-feedback" style="display: inline;" >A unidade é obrigatória.</small>
              </div>
            </div>

            <div class="form-group">
              <label for="input-safra" class="form-control-label">Área Produtiva(*)</label>
              <select formControlName="productive_area_id" id="input-safra" class="form-control">
                <option  *ngFor="let area of areas" [value]="unit.id">{{ area?.name }}</option>
              </select>

              <div *ngIf="submittedProduto && !successProduto && addForm.product_unit_id.errors">
                <small  class="invalid-feedback" style="display: inline;" >A área é obrigatória.</small>
              </div>
            </div>

            
            <div class="form-group">
                <label for="input-cnpj" class="form-control-label">Quantidade(*):</label>
                <input formControlName="quantity" id="input-cnpj" class="form-control" type="text">
                <div *ngIf="submittedFuncionario && !successFuncionario && addForm.matricula.errors" >
                  <small class="invalid-feedback" style="display: inline;">A quantidade é obrigatória.</small>
                </div>
            </div>

            <div class="form-group">
              <label for="input-cnpj" class="form-control-label">Preço(*):</label>
              <input formControlName="price" id="input-cnpj" class="form-control" type="text">
              <div *ngIf="submittedFuncionario && !successFuncionario && addForm.matricula.errors" >
                <small class="invalid-feedback" style="display: inline;">O preço é obrigatório.</small>
              </div>
          </div>

            <div class="form-group">
              <label for="input-phone" class="form-control-label">Data de Venda:</label>
              <input formControlName="phone" id="input-phone" class="form-control" type="date">
              <div *ngIf="submittedFuncionario && !successFuncionario && addForm.matricula.errors" >
                <small class="invalid-feedback" style="display: inline;">A data de venda é obrigatório.</small>
              </div>
          </div>

          <div class="form-group">
            <label for="input-address" class="form-control-label">Observação:</label>
            <textarea formControlName="observation" class="form-control" rows="2"> </textarea>
          </div>

          </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-outline-dark" (click)="create()">Criar</button> -->
        </div>
      </ng-template>



    </div>
</div>
