<div class="card border shadow">
  <div class="card-header border-1">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="mb-0">Categoria de Custo</h2>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <!-- Projects table -->
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
      <tr>
        <th scope="col">Produto/Atividade</th>
        <th scope="col">Percentual</th>
        <th scope="col">Valor</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let categoria of custoCategorias">
        <th scope="row">
          {{ categoria?.name }}
        </th>
        <td>
          {{ categoria?.percentual }}
        </td>
        <td>
          R$ {{ categoria?.valor }} 
        </td>

      </tr>

      </tbody>
    </table>
  </div>
</div>
