<div class="card border shadow mb-2">
    <div class="card-header border-1">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="mb-0">{{ category?.name }}</h2>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <!-- Projects table -->
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Produto</th>
          <th scope="col">Unidade</th>
          <th scope="col">Preço Unit.</th>
          <th scope="col">Qtd.</th>
          <th scope="col">Total</th>
          <th scope="col">Colaborador</th> 
          <th scope="col">Usuário</th> 
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let consumption of category?.consumptions">
          <td>
            {{ consumption?.consumption_at |  date: 'dd/MM/yyyy' }}
          </td>
          <td>
            {{ consumption?.product_name }}
          </td>
          <td>
            {{ consumption?.unit_name }}
          </td>
          <td>
            {{ consumption?.unit_value | currency:'BRL':true:'1.2-2' }}
          </td>
          <td>
            {{ consumption?.quantity }}
           </td>
           <td>
            {{ consumption?.total | currency:'BRL':true:'1.2-2' }}
           </td>
          
           <td>
            {{ consumption?.employee_name  }}
           </td>

           <td>
            {{ consumption?.user_name  }}
           </td>
  
        </tr>
  
        </tbody>
      </table>
    </div>
  </div>
  
