<div class="col">
  <h2>Consumos por Categoria</h2>
</div>

<div class="card border shadow">
    <div class="card-header border-1">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="mb-0">ADUBO</h2>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <!-- Projects table -->
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Produto</th>
          <th scope="col">Unidade</th>
          <th scope="col">Preço Unit.</th>
          <th scope="col">Qtd.</th>
          <th scope="col">Total</th>
          <th scope="col">Colaborador</th> 
          <th scope="col">Usuário</th> 
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
           VÁLVULA
          </td>
          <td>
           R$ 21843,00
          </td>
          <td>
            15835 KG
          </td>
          <td>
            R$ 5800,00
          </td>
          <td>
            VÁLVULA
           </td>
           <td>
            R$ 21843,00
           </td>
           <td>
             15835 KG
           </td>
           <td>
             R$ 5800,00
           </td>
  
        </tr>
  
        </tbody>
      </table>
    </div>
  </div>
  
