<div class="card border shadow">
  <div class="card-header border-1">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="mb-0">{{ area?.name }} - {{ area?.variedade }} ({{ area?.tamanho }}h)</h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <p *ngIf="area?.data_poda"><b>Data da Poda:</b> {{ area?.data_poda | date: 'dd/MM/YYYY'  }}</p>
        <p *ngIf="!area?.data_poda"><b>Data da Poda:</b> -- </p>
        <p><b>Produção Registrada:</b> {{ area?.producao?.quantidade }}</p>
        <p><b>Produção Meta:</b> {{ area?.producao?.objetivo | currency:'BRL':true:'1.2-2' }}</p>
        <p><b>Custo Total:</b> {{ area?.custo?.valor | currency:'BRL':true:'1.2-2' }}</p>
        <p><b>Custo Meta:</b> {{ area?.custo?.objetivo  | currency:'BRL':true:'1.2-2'}}</p>
      </div>

      <div class="col-8">

        <div class="table-responsive">

          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" colspan="3">Categoria de Custo</th>
              </tr>
            </thead>
            <thead class="thead-light">
            <tr>
              <th scope="col">Produto/Atividade</th>
              <th scope="col">Percentual</th>
              <th scope="col">Valor</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let categoria of area?.custo?.categorias">
              <th scope="row">
                {{ categoria?.name  }}
              </th>
              <td>
                {{ getPercentual(categoria?.total) || 0 }} %
              </td>
              <td>
                {{ categoria?.total |  currency:'BRL':true:'1.2-2' }}
              </td>

            </tr>

            </tbody>
          </table>
        </div>

      </div>

    </div>

  </div>
</div>

