<div class="card border shadow">
  <div class="card-header border-1">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="mb-0">Itens com Maiores Impactos</h2>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <!-- Projects table -->
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
      <tr>
        <th scope="col">Produto/Atividade</th>
        <th scope="col">Valor</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of itens">
        <th scope="row">
           {{ item.nome }}
        </th>
        <td>
          {{ item.total | currency:'BRL':true:'1.2-2' }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
