
<div class="header bg-gradient-green pb-8 pt-5">
    <div class="container-fluid">
    </div>
</div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col-7 text-left">
                    <h3 class="mb-0">Inventório #184 - Produtos</h3>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-sm btn-primary" (click)="open(addInventorios)">Adicionar</a>
                </div>
            </div>
            
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Und. de Medida</th>
                  <th scope="col">Valor Unitário</th>
                  <th scope="col">Qtd.</th>
                  <th scope="col">Total</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>
                      Esteco de BOI (20 KG) 
                    </td>
                    <td>
                        KG
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                      R$ 55,00
                    </td>
                    <td>
                        R$ 110,00
                    </td>
                   
                    <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" >Editar</a>
                          <a class="dropdown-item" >Deletar</a>
                        </div>
                      </div>
                    </td>
                   
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

       <!-- MODAIS-->
       <ng-template #addInventorios let-modal>

        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Incluir Produto</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>

            <div class="form-group">
              <label for="input-fornecedores" class="form-control-label">Produtos(*)</label>
              <select id="input-fornecedores" class="form-control">
                <option>Esteco de BOI</option> 
                <option>Esteco de Porco</option> 
              </select>
            </div>

            <div class="form-group">
                <label for="input-padrao-embalagem" class="form-control-label">Padrão de Embalagem:</label>
                <input id="input-padrao-embalagem" class="form-control" type="number">
            </div>

            <div class="form-group">
                <label for="input-quantidade" class="form-control-label">Quantidade:</label>
                <input id="input-quantidade" class="form-control" type="number">
            </div>

            <div class="form-group">
                <label for="input-preco-unitario" class="form-control-label">Preço Unitário:</label>
                <input id="input-preco-unitario" class="form-control" type="text">
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Criar</button>
        </div>
      </ng-template>


    </div>
</div>
