.modal-header{
    border-bottom: 1px solid #dee2e6 !important ;
}

.list{
    min-height: 80vh !important;
}

.sumario{
    min-height: 25vh !important;
    max-height: 100vh !important;
}

.table-responsive{
    height: 100vh;
}

.sumario-text{
    margin: 0 !important;
}

tr:hover{
    background: #CCCCCC;
    cursor: pointer;
  }