<div class="header bg-gradient-green pb-3 pt-3 pt-md-8">

  <div class="row">
    <div class="col-5"></div>
    <div class="col-7">
      <form [formGroup]="dashboardFilterForm" >
     
        <div class="form-row">

          <div class="form-group col-5">
            <label  for="input-area" class="col-sm-2 label-dashboard">Área</label>
            <select formControlName="productive_area_id" class="form-control col-12">
              <option value="0">Todos</option>
              <option *ngFor="let area of areas" [value]="area?.id">{{ area?.name }}</option>
            </select>
          </div>

          <div class="form-group col-4">
            <label  for="input-area" class="col-sm-2 label-dashboard">Safra</label>
            <select formControlName="safra_id" class="form-control col-12">
              <option *ngFor="let safra of safras"  [value]="safra?.id">{{ safra?.name }}</option>
            </select>
          </div>

          <div class="col-md-3 form-group mt-4">
            <button (click)="enabledDashboard()" class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
          </div>
         
        </div>

        

        

      </form>
    </div>

  </div>
</div>

<app-individual  *ngIf="!enabledGeral" [filters]="filters"></app-individual>

<app-geral *ngIf="enabledGeral && loading" [filters]="filters"></app-geral> 

