
<div class="header bg-gradient-green pb-8 pt-5">
    <div class="container-fluid">
    </div>
</div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col-7 text-left">
                    <h3 class="mb-0">Atividades</h3>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-sm btn-primary" (click)="open(addAtividades)">Adicionar</a>
                    <a class="btn btn-sm btn-primary" [routerLink]="['/atividades/categorias']" >Categorias</a>
                </div>
            </div>
            
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Preço</th>
                  <th scope="col">Criado em:</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let atividade of atividades">
                    <td>
                      {{ atividade.name }}
                    </td>
                    <td>
                      {{ atividade?.category_name ? atividade?.category_name :'-' }}
                    </td>
                    <td>
                      {{ atividade.price_default| currency:'BRL':true }}
                    </td>
                    <td>
                      {{ atividade.created_at | date: 'dd/MM/yyyy' }}
                    </td>
                   
                    <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <a (click)="onEdit(atividade);open(editAtividades);" class="dropdown-item" >Editar</a>
                          <a  (click)="open(modalConfirmation, delete, atividade.id)"class="dropdown-item" >Excluir</a>
                        </div>
                      </div>
                    </td>
                   
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- MODAIS-->
      <ng-template #addAtividades let-modal>

        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Cadastrar Atividades</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addAtividadesForm">


            <div class="form-group">
                <label for="input-name" class="form-control-label">Nome(*)</label>
                <input formControlName="name" id="input-name" class="form-control" type="text">
                <div *ngIf="submittedAtividade && !successAtividade && addForm.name.errors" >
                  <small class="invalid-feedback" style="display: inline;">O nome é obrigatório.</small>
                </div>
              </div>
  
            <div class="form-group">
              <label for="input-categorias" class="form-control-label">Categorias(*)</label>
              <select formControlName="task_category_id" id="input-categorias" class="form-control">
                <option></option>
                <option  *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option> 
              </select>
              <div *ngIf="submittedAtividade && !successAtividade && addForm.task_category_id.errors" >
                <small class="invalid-feedback" style="display: inline;">O categoria é obrigatória.</small>
              </div>
            </div>
  
            <div class="form-group">
              <label for="input-preco-default" class="form-control-label">Preço Padrão</label>
              <input formControlName="price_default"  id="input-preco-default" class="form-control" type="text" placeholder="R$">
            </div>
  
          </form>
        </div>
        <div class="modal-footer">
          <button (click)="create()" type="button" class="btn btn-outline-dark" >Criar</button>
        </div>
      </ng-template>

      <ng-template #editAtividades let-modal>

        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Editar Atividades</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editAtividadesForm">


            <div class="form-group">
                <label for="input-name" class="form-control-label">Nome(*)</label>
                <input formControlName="name" id="input-name" class="form-control" type="text">
                <div *ngIf="submittedAtividade && !successAtividade && editForm.name.errors" >
                  <small class="invalid-feedback" style="display: inline;">O nome é obrigatório.</small>
                </div>
              </div>
  
            <div class="form-group">
              <label for="input-categorias" class="form-control-label">Categorias(*)</label>
              <select formControlName="task_category_id" id="input-categorias" class="form-control">
                <option></option>
                <option [value]="category.id" *ngFor="let category of categories">{{ category.name }}</option> 
              </select>
              <div *ngIf="submittedAtividade && !successAtividade && editForm.task_category_id.errors" >
                <small class="invalid-feedback" style="display: inline;">O categoria é obrigatória.</small>
              </div>
            </div>
  
            <div class="form-group">
              <label for="input-preco-default" class="form-control-label">Preço Padrão</label>
              <input formControlName="price_default"  id="input-preco-default" class="form-control" type="number" placeholder="R$">
              <div *ngIf="submittedAtividade && !successAtividade && editForm.default_price.errors" >
                <small class="invalid-feedback" style="display: inline;">O campo deve ser numérico.</small>
              </div>
            </div>
  
          </form>
        </div>
        <div class="modal-footer">
          <button (click)="update()" type="button" class="btn btn-outline-dark" >Salvar</button>
        </div>
      </ng-template>

      <ng-template #modalConfirmation let-modal>
        <div class="modal-header">
          <h3 class="modal-title" id="modal-basic-title">Confirmação de Ação</h3>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          
            Deseja Remover Essa Categoria?
          
        </div>
        <div class="modal-footer">
          <button type="button" (click)="modal.dismiss('Cross click')" class="btn bg-gradient-secondary mr-3 mr-auto text-left">
            Cancelar
          </button>
          <button (click)="confirmationDelete(); modal.dismiss('Cross click')" type="button" class="btn bg-gradient-danger float-right">
            Confimar
          </button>
        </div>
      </ng-template>



    </div>
</div>
    
